body {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}
.flex {
    display:flex;
}
.flex-row {
    flex-direction: row;
}
.flex-column {
    flex-direction: column;
}
nav {
    width:100%;
    justify-content: center;
    align-items: center;
}
.nav-wrapper {width:100%;
align-items: center;
justify-content: space-between;
}
nav > div {
    padding-left:350px;
    padding-right: 350px;
}
nav .link {font-size:16px;
font-weight: 500;
}
main section {width:100%;
    align-items: center;
    justify-content: center;
}
main section .top {
    width:100%;
    align-items: center;
    justify-content: center;
}
main section h3 {
    font-size:55px;
    margin-top:50px;
color:rgb(253, 176, 33)}
main section p {
    font-size:23px;
    margin-top:10px;
}
main section .btn {
font-size:16px;
}
main .middle {
    margin-top:50px;
    margin-bottom:150px;
    width:100%;
    justify-content: center;
    align-items: center;
    gap:50px;
}
main section .col {
    width:350px;
    height:350px;
    justify-content: center;
    align-items: center;
    
}
.col a {
    transform: scale(2.5);
}
footer .link1 {margin-left:15px;}
footer .link2 {
    margin-left:200px;
}
.container span {
    font-weight: 600;
}